---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify font-semibold">
    Self-driven developer looking to tackle challenging business problems and use a systematic approach to bring about 
    the most optimal and innovative solutions. With a proven track record of driving transformative digital initiatives, 
    I have a deep curiosity and passion for learning useful technologies, which I apply to achieve exceptional results. 
    I’m dedicated to propelling organizations towards sustainable growth by blending my technical expertise with creative 
    problem-solving skills.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in Software Engineering"
      subtitle="from Western Governors University"
    />
    <TimeLineElement
      title="Bachelor of Business Administration"
      subtitle="from Northern Alberta Institute of Technology"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Admin & Web Developer"
      subtitle="Oct 2023 – Aug 2024 at Infill Development in Edmonton Association, Edmonton, Canada"
    >
      • Custom coded new web pages and features with HTML/CSS/JavaScript, improving aesthetic and interactivity.<br/>
      • Created CRM improvements that allowed membership tracking, invoicing, and automations, increasing productivity.
    </TimeLineElement>

    <TimeLineElement
      title="Mortgage Associate"
      subtitle="May 2019 – Nov 2022 at Dominion Mortgage Pros, Edmonton, Canada"
    >
      • Collaborated within a remote mortgage team to serve over 150 clients, achieving successful transactions under tight timelines.<br/>
      • Coded marketing campaigns for clients using app integration to create custom mortgage reports and systems to identify refinance opportunities.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Diploma in Web Development – Lighthouse Labs</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certificate in Frontend Development – Scrimba</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>Ruby</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Jest</li>
    <li>Mocha</li>
    <li>Chai</li>
    <li>Cypress</li>
    <li>NodeJS</li>
    <li>ReactJS</li>
    <li>Express</li>
    <li>EJS</li>
    <li>AJAX</li>
    <li>jQuery</li>
    <li>Tailwind</li>
    <li>Bootstrap</li>
    <li>SQL</li>
    <li>PostgreSQL</li>
    <li>GIT</li>
    <li>Figma</li>
    <li>Canva</li>
    <li>Salesforce</li>
    <li>ZOHO</li>
  </ul>
</BaseLayout>
