---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there! 👋</div>
    <div class="text-5xl font-bold">I'm Alexander Da Costa</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Web Developer</div>
    <div class="py-2">
      <text class="text-lg">
        <p>Greetings! I am a driven and inventive developer, eager to solve challenging business problems with systematic, innovative solutions. With a strong track record in digital transformation and a passion for learning new technologies, I aim to drive growth through technical expertise and creative problem-solving.</p><br>
        <p class="font-bold">Let’s connect to discuss how my skills align with your organization's goals.</p>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-outline ml" href="mailto:alexander.a.dacosta@gmail.com" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Muttly"
    img="/muttly_project_profile.webp"
    desc='Muttly is a fun web app that uses AI to creatively combine two dog breeds into a custom "Mutt," allowing users to generate, save, and share unique dog stats cards.'
    url="/blog/muttly-project-overview"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Boolebots"
    img="/boolebots_project_profile.webp"
    desc="Boolebots is an educational game that teaches Boolean logic gates through interactive gameplay, developed collaboratively over six weekly Agile/Scrum sprints."
    url="https://boolebotapp.netlify.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Quizzical"
    img="/project-1.webp"
    desc="Quizzical is an engaging web app that quizzes users with random questions pulled from an API, offering a fun and interactive way to test knowledge across various topics."
    url="https://quizdomquiz.netlify.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
